.topParallax {
    padding: 8% 18% 6% 18%;
    text-align: center;
    color: white;
    background-image: url(https://i.imgur.com/Z7Vq3Nq.jpg);
    background-attachment: fixed;
    background-size: cover;
}
